h1 {
    color: #333;
}

.Polyvres{
    color : #f0f0f0;
}

@keyframes blueFade {
    0% { background-color: rgb(0, 0, 139); } /* Dark blue */
    50% { background-color: rgb(70, 130, 180); } /* Steel blue */
    100% { background-color: rgb(0, 0, 139); } /* Dark blue */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: rgb(0, 0, 139); /* Initial color for fallback */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: blueFade 10s infinite;
}

header .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
    margin-right: 10px;
}

header .logo img {
    height: 50px; /* Adjust height as needed */
    transition: transform 0.5s ease;
}

header .logo img:hover {
    transform: rotate(360deg);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

main {
    padding: 20px;
    text-align: center;
    background: white; /* Set background to white */
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .main-logo {
    margin-top: 20px;
}

main .main-logo img {
    height: 200px; /* Increase height as needed */
}

footer {
    background: rgb(0, 0, 139); /* Initial color for fallback */
    color: white;
    text-align: center;
    padding: 10px 0;
    animation: blueFade 10s infinite;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer ul li a:hover {
    color: #ffcccb;
    transform: scale(1.1);
}

.form-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.form-container {
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    padding-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #333;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 25px;
    border-top: none;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#book-list-container {
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrage horizontal */
}


.titre_livre {
    text-align: center;
    color: #333;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em;
    text-shadow: 2px 2px #ccc;
}

.book-list {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.book-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.author,
.genre {
    margin: 0;
    color: #666;
    text-align: center;
}

.author {
    font-style: italic;
}

.genre {
    font-weight: bold;
}

/* Supprimer la règle CSS pour les liens dans .title */
.book-item .title {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

/* Ajouter les règles CSS pour les liens au niveau de .book-item */
.book-item a {
    text-decoration: none; /* Supprimer le soulignage */
    color: inherit; /* Utiliser la couleur par défaut du parent */
    cursor: pointer; /* Changer le curseur */
    transition: color 0.2s ease; /* Transition de couleur */
}

.book-item a:hover {
    color: #093381; /* Nouvelle couleur au survol */
}


.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 100%;
}



.book-details h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px #ccc;
    text-align: center;
  }
    
  .book-details p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #666;
    text-align: center;
  }
    
  .book-details .author {
    font-style: italic;
  }
  
  .book-details .genre {
    font-weight: bold;
  }
  
  .book-details .reservation-status {
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
  
  .book-details .reservation-status.reserved {
    color: #e64a19; /* tomato */
  }
  
  .book-details .reservation-status.available {
    color: #5cb85c; /* green */
  }
  
  .book-details img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  

  .book-details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


